

/*==========	Desktop First	==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.nav-item
		margin: 0 16px
	.main_slider .swiper-pagination
		bottom: 20px
	.theme-btn.category__item_btn
		width: 150px
		height: 40px
		line-height: 38px
		font-size: 12px
		top: 150px
		right: 32px
	footer .footer_wrapper .footer_text
		margin-right: 70px

// ≥992px
+media-breakpoint-down(md)
	.navbar
		border-bottom: none
	.nav-item
		margin: 0
		padding: 10px 0
	.navbar-collapse
		padding: 5px 0
	header .form-inline .search_input
		display: block
		width: 100%
		padding: 20px 0
		font-size: 16px
	.btn.search_btn
		display: none
	.main_slider .swiper-pagination
		bottom: 10px
	#category .category__item
		margin-bottom: 20px
	.theme-btn.category__item_btn
		width: 200px
		height: 50px
		line-height: 50px
		font-size: 14px
		top: 225px
		right: 65px
	.section_title
		text-align: center
	.howToBuy_item
		height: auto
		margin-bottom: 15px
		text-align: center
		padding: 50px 35px 60px 35px
	footer .footer_wrapper
		flex-direction: column
		align-items: flex-start
	.footer_contacts
		margin-bottom: 1rem
	
// ≥768px
+media-breakpoint-down(sm)
	.main_slider .swiper-pagination
		bottom: 20px
	#category .category__item
		display: none
	#category .category__item_mobile
		display: flex
	#category .category__item_mobile
		margin-bottom: 25px
	.theme-btn
		width: 150px
		height: 40px
		line-height: 40px
		font-size: 13px
	.section_title
		font-size: 22px
	#catalog.home, #doorsSlider
		display: none
	footer .footer_wrapper .footer_text
		display: none
	footer .footer_wrapper
		flex-direction: row
		align-items: center
		padding: 33px 46px

// ≥576px
+media-breakpoint-down(xs)
	.no-p
		padding: 0
	#category .category__item_mobile__img
		padding-left: 20px
	#category .category__item_mobile__text span
		font-size: 19px
		line-height: 1.15
	#category .category__item_mobile_btn
		width: 140px
		height: 40px
		line-height: 39px
		font-size: 12px
	#catalog .catalog_item__title
		font-size: 14px
		margin-top: 10px
		margin-bottom: 5px
	#catalog .catalog_item__price
		font-size: 14px
	#catalog .catalog_item__img img
		max-height: 275px
	#catalog .catalog_item__img
		padding-top: 10px
	.theme-btn
		width: 120px
		height: 30px
		line-height: 28px
		font-size: 12px
	.howToBuy_item__descr
		max-width: 150px
		margin: 0 auto
	#category
		margin-bottom: 0
	footer .footer_wrapper
		padding: 45px 30px
	footer .footer_wrapper .footer_contacts a.mail
		text-decoration: underline
	#howToBuy
		margin-bottom: 0
	footer
		margin-top: 10px

/*==========	Mobile First	==========*/

// ≤576px
+media-breakpoint-up(sm)


// ≤768px
+media-breakpoint-up(md)
	

// ≤992px
+media-breakpoint-up(lg)
	

// ≤1200px
+media-breakpoint-up(xl)
