@import config

// Переопределяю стили Bootstrap
.navbar
  padding: 26px 0 25px 0!important
  border-bottom: 1px solid #D1D1D1
.navbar-brand
  padding-top: 0
  padding-right: 0
  padding-bottom: 0
  margin-right: 39px
header .navbar-nav .nav-link
  padding: 0
  letter-spacing: 0.03em
header .navbar-expand-lg .navbar-nav .nav-link
  padding: 0
.nav-item
  padding: 0
  margin: 0 38px
  .nav-link
    color: $textcolor
    &:hover
      color: $accent
  &:last-child
    margin-right: 15px

.container
  max-width: 1230px

.navbar-toggler
  padding: 0
  &:focus
    outline: none
  .navbar-toggler-icon
    background-color: #000
    height: 2px
    width: 35px
    position: relative
    &::after,
    &::before
      content: ''
      position: absolute
      width: 35px
      height: 2px
      background-color: #000000
      top: 0
      left: 0
    &::after
      transform: translateY(-10px)
    &::before
      transform: translateY(10px)

header .form-inline .search_input
  font-size: 14px
  padding: 0 0 0 10px
  width: 128px
  border-radius: 0
  border-top: none
  border-left: none
  border-right: none
  display: none
  &:focus,
  &:active
    outline: none
    box-shadow: none
  &.active
    display: block

.btn.search_btn
  outline: none
  padding-right: 0
  padding-left: 0
  &:focus,
  &:active
    outline: none
    box-shadow: none

// Свои стили

.preloader
  position: fixed
  z-index: 999
  width: 100%
  height: 100vh
  background-color: #ffffff
  display: flex
  justify-content: center
  align-items: center

#mainSlider
  position: relative
  margin-top: 20px
.main_slider
  &__wrapper
  &__item
    position: relative
    //height: 450px
    width: 100%
    a
      display: block
      height: 100%
      img
        width: 100%
        height: 100%
        object-fit: cover
  .swiper-pagination
    bottom: 32px
    .swiper-pagination-bullet
      width: 17px
      height: 17px
      border-radius: 50%
      background-color: #fff
      opacity: 1
      margin: 0 10px
      &-active
        background-color: $accent

#category
  position: relative
  margin-top: 30px
  margin-bottom: 30px
  .category__item
    position: relative
    &_info
      position: absolute
      top: 0
      right: 0
      width: 50%
      height: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      &_btn
        margin-top: 105px
    img
      height: 350px
    &_mobile
      position: relative
      height: 246px
      width: 100%
      display: none
      overflow: hidden
      &__img
        padding-left: 40px
        img
          max-width: 155px
      &__text
        padding-top: 85px
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        span
          color: $title
          font-size: 20px
          font-weight: 500
          display: block
          margin-bottom: 15px
        &.white
          span
            color: #ffffff
          .category__item_mobile_btn
            background-color: #fff
            border-color: #fff
            color: $accent
            &:hover
              background-color: $accent
              color: #ffffff
              border-color: #fff
      &_btn
        display: inline-block
        width: 165px
        height: 44px
        line-height: 42px
        font-size: 14px

.theme-btn
  position: relative
  display: block
  width: 200px
  height: 53px
  text-align: center
  line-height: 51px
  font-weight: 700
  color: #373737
  border: 1.3px solid #373737
  border-radius: 10em
  font-size: 14px
  transition: all .6s ease
  &:hover
    text-decoration: none
    background-color: $accent
    color: #ffffff
    border-color: $accent
  &.category__item_btn
    position: absolute
    top: 195px
    right: 40px

.mb-30
  margin-bottom: 30px

.section_title
  position: relative
  margin-top: 25px
  margin-bottom: 30px
  color: $title
  font-weight: 500
  font-size: 25px
  line-height: 29px

#catalog
  position: relative
  .catalog_item
    position: relative
    text-align: center
    border: 1px solid #ccc
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
    padding-top: 41px
    padding-bottom: 41px
    &:hover
      text-decoration: none
      border: none
    &__hover
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,.5)
      z-index: 10
      display: flex
      justify-content: center
      align-items: center
      transition: all .6s ease
      opacity: 0
      &_btn
        display: inline-block
        background-color: $accent
        color: #ffffff
        border-color: $accent
    &:hover .catalog_item__hover
      opacity: 1
    &__img
      position: relative
      height: 277px
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      padding-left: 10px
      padding-right: 10px
      img
        max-height: 277px
        max-width: 100%
    &__title
      font-size: 16px
      text-transform: uppercase
      color: #000000
      margin-top: 39px
    &__price
      font-weight: 700
      color: #000000
      font-size: 18px
      margin-bottom: 10px

#howToBuy
  position: relative
  margin-bottom: 26px
.howToBuy_item
  position: relative
  background-color: #FFF4EC
  padding: 66px 35px 87px 35px
  height: 100%
  &__icon
    svg
      fill: $accent
  &__title
    margin-top: 34px
    margin-bottom: 10px
    color: $title
    letter-spacing: 0.03em
    font-size: 18px
    font-weight: 500
  &__descr
    color: $title
    font-size: 14px
    line-height: 1.3
    font-family: RobotoLight

#doorsSlider
  position: relative
  .doorsSlider__container
    position: relative
  .doorsSlider__item
    &_hover
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(196, 196, 196, 0.5)
    &.swiper-slide-active
      .doorsSlider__item_hover
        background-color: transparent
    img
      width: 585px
      height: 540px
      object-fit: cover
  .swiper-button-prev,
  .swiper-button-next
    color: #ffffff
  .swiper-button-prev
    left: 10%
  .swiper-button-next
    right: 10%

footer
  position: relative
  margin-top: 40px
  .footer_wrapper
    position: relative
    background-color: #F5F5F5
    padding: 37px 92px 52px 92px
    display: flex
    .footer_text
      margin-right: 100px
      margin-top: 12px
      p
        margin-top: 24px
        max-width: 378px
        color: $title
        font-size: 12px
        font-family: RobotoLight
    .footer_contacts
      .icon
        position: relative
        width: 18px
        height: 18px
        background-color: $accent
        color: #fff
        border-radius: 50%
        text-align: center
        line-height: 16px
        margin-right: 11px
      &__title
        text-transform: uppercase
        font-weight: 700
        color: $title
        margin-bottom: 7px
        margin-left: 30px
        letter-spacing: 0.07px
        line-height: 1.1
      a.mail
        display: flex
        align-items: center
        font-size: 12px
        color: $title
        letter-spacing: 0.7px
      .address
        font-size: 12px
        color: $title
        margin-top: 13px
        display: flex
        letter-spacing: 0.7px
        align-items: center
        margin-bottom: 15px
      .phone
        display: flex
        align-items: center
        &_list
          display: flex
          flex-direction: column
          line-height: 1.2
          a
            display: inline-block
            letter-spacing: 0.7px
            color: $title
            &.bold
              font-weight: 700
    .footer_social
      position: relative
      flex: 1
      margin-top: 46px
      ul
        margin: 0
        padding: 0
        list-style: none
        display: flex
        width: 100%
        justify-content: flex-end
        li
          width: 43px
          height: 43px
          background-color: $accent
          border-radius: 50%
          text-align: center
          line-height: 40px
          a
            display: block
            color: #ffffff
.breadcrumb_block
  position: relative
  margin-top: 68px
  .breadcrumb
    padding: 0
    background-color: transparent
    &-item
      font-size: 14px
      color: #797979
      a
        color: #797979
.pagination_block
  position: relative
  margin-top: 10px
  nav
    border: 1px solid #ccc
    padding: 29px 55px 28px 55px
    .pagination
      margin: 0
      padding: 0
      display: flex
      justify-content: center
      position: relative
      .page-item
        .page-link
          border: none
          font-size: 20px
          font-weight: 400
          color: #c4c4c4
          svg
            fill: black
        &.active
          .page-link
            color: #000000
            background-color: transparent
        &:hover
          .page-link
            background-color: $accent
            color: #ffffff
            svg
              fill: white
      .to_start,
      .to_end
        position: absolute
      .to_start
        top: 0
        left: 0
      .to_end
        top: 0
        right: 0

.catalog_filter
  margin-top: 32px
  margin-bottom: 40px
  .filter_item
    position: relative
    .list
      display: flex
      justify-content: flex-end
      width: 100%
      position: relative
      background-color: #ffffff
      z-index: 99
      padding: 20px 0
      &.active
        display: block
    &:nth-child(2)
      .list
        flex: 1
    .mobile_filter_item
      display: none
      position: relative
    .mobile_filter_item__filter
      border: 1px solid #ccc
      padding: 14px 16px
      font-family: Gilroy
      font-size: 14px
      color: #000000
      .arrow
        position: absolute
        right: 18px
        svg
          fill: #494949
.filter
  position: relative
  .price
    position: relative
    padding: 10px 18px
    border: 1px solid #494949
    width: 114px
    cursor: pointer
    font-family: Gilroy
    font-size: 14px
    .arrow
      position: absolute
      top: 21%
      right: 18px
      svg
        fill: #494949
  .price_range
    position: relative
    border: 1px solid #494949
    margin-top: 20px
    padding: 0 50px 40px
    width: 350px
    position: absolute
    background-color: #ffffff
    z-index: 99
    display: none
    &.active
      display: block
  &_type,
  &_sort
    display: flex
    align-items: center
    margin-left: 40px
    .select2-container
      width: 202px!important
      .select2-selection--single
        height: 52px
        border-radius: 0
        border-color: #ccc
        padding-left: 7px
        padding-right: 25px
        &:focus
          outline: none
          border-color: #ccc
        .select2-selection__rendered
          font-family: Gilroy
          font-size: 14px
          height: 100%
          line-height: 52px
          color: #000000
  &_title
    color: #000000
    font-size: 14px
    font-family: Gilroy
    margin-right: 20px

.select2-dropdown
  border: 1px solid #ccc!important

#action
  position: relative
  margin-top: 55px
  margin-bottom: 30px
  .section_title
    margin-bottom: 20px
  .action_item
    img
      object-fit: cover
    &__title
      color: #000000
      font-weight: 500
      font-size: 20px
      display: block
      line-height: 1.4
      margin-top: 10px
      &:hover
        text-decoration: none

#about
  position: relative
  margin-top: 80px
  .information_block
    position: relative
    font-family: RobotoLight
    margin-bottom: 30px
    padding-bottom: 30px
    border-bottom: 1px solid #ccc
    &:last-child
      border-bottom: none
    &__title
      font-size: 25px
      font-family: Roboto
      color: #000000
      font-weight: 500
      margin-bottom: 20px
      line-height: 29px
    p.text,
    p
      max-width: 530px
      margin: 0
      font-family: RobotoLight
      &.mt-20
        margin-top: 20px
    a
      color: #000000
      font-family: RobotoLight
      &.mail
        text-decoration: underline
      &:hover
        text-decoration: none
    ul
      margin: 0 0 25px 0
      padding: 0 0 0 18px
    .soc
      display: flex
      align-items: center
      margin-bottom: 28px
      .icon
        width: 20px
        height: 20px
        background-color: $accent
        color: #ffffff
        line-height: 18px
        text-align: center
        border-radius: 50%
        margin-right: 12px
    .address
      position: relative
      display: flex
      align-items: center
      .icon
        margin-right: 15px
        svg
          width: 16px
          fill: $accent

.select2-container--default .select2-selection--single .select2-selection__arrow
  height: 100%
  b
    width: 10px
    height: 10px
    left: -50%
    top: 36%
    background-color: #ffffff
    border-color: #494949
    border-style: solid
    border-width: 2px 2px 0 0
    transform: rotate(135deg)
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
  border-color: #494949
  border-width: 2px 2px 0 0
.select2-dropdown
  border: 1px solid #494949
  border-radius: 0
.select2-search--dropdown
  display: none
.select2-results__option
  font-family: Gilroy
  padding-left: 16px
  padding-top: 14px
  padding-bottom: 14px
  font-size: 14px
  color: #000000
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
  background-color: #c4c4c4
.select2-container--default .select2-results__option--selected
  background-color: #ffffff

.irs--round .irs-bar
  background-color: $accent
  height: 2px
  top: 38px
.irs--round .irs-line
  background-color: $accent
  height: 2px
  top: 38px
.irs--round .irs-handle
  border: 3px solid $accent
.irs--round .irs-from, .irs--round .irs-single, .irs--round .irs-to
  background-color: transparent
  color: $title
  font-family: Gilroy
.irs--round .irs-from:before, .irs--round .irs-single:before, .irs--round .irs-to:before
  display: none
.irs--round .irs-max, .irs--round .irs-min
  display: none
.irs-from, .irs-single, .irs-to
  top: 60px
.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover
  background-color: $accent

#detailPage
  position: relative
  margin-top: 66px
  margin-bottom: 80px
.detail_wrapper
  position: relative
  display: flex
  .image
    img
      max-width: 191px
  .description
    position: relative
    margin-left: 67px
    &.mobile
      display: none
    .title
      color: $title
      font-size: 29px
      margin: 0
      .bold
        font-weight: 700
    .post_title
      margin: 0
      font-size: 14px
      color: #000000
      margin-bottom: 26px
    .text
      margin-top: 15px
      font-size: 14px
      max-width: 552px
      color: $title
      font-weight: 300
      &__title
        font-weight: 700
      p
        color: #4f4f4f
        font-family: RobotoLight
        line-height: 1.5
    .price
      position: relative
      display: flex
      align-items: center
      margin-top: 22px
      &.mobile
        display: none
        text-align: center
      .item_price
        color: $title
        font-size: 30px
        font-weight: 700
        margin-right: 20px
  .detail_page_btn
    background-color: $accent
    color: #ffffff
    border-color: $accent
    font-size: 14px
    display: inline-block

.mfp-bg
  background: transparent
#modal-popup
  position: relative
  max-width: 715px
  background-color: #ffffff
  margin: 0 auto
  padding: 58px 68px
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2)
  border: 1px solid #ccc
  .success_msg
    display: none
    text-align: center
    font-size: 20px
    color: #87ce02
    margin-bottom: 0
  form
    position: relative
    .form_title
      font-size: 30px
      color: #000000
      font-weight: 700
      letter-spacing: 0.02em
      line-height: 1.1
    .post_title
      margin-top: 10px
      margin-bottom: 0
      color: #000000
      letter-spacing: 0.02em
    input
      width: 100%
      margin-top: 25px
      padding: 12px 22px
      font-size: 14px
      border: 1px solid #ababab
      border-radius: 0
    .submit
      margin-top: 25px
      border: none
      background-color: $accent
      color: #ffffff
      padding: 19px 40px
      font-size: 14px
      font-weight: 700
    p.confirm
      font-size: 12px
      color: #4f4f4f
      margin-top: 44px
      margin-bottom: 0
  .mfp-close
    display: none
  .close_btn
    position: absolute
    top: 35px
    right: 39px
    cursor: pointer

.mobile_category__item
  position: relative
  display: none

@import media
